{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_css %}
<style>
    body {
        background-color: var(--main-purple);
    }
</style>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
            <div class="card border-0">
                <img src="{% static 'img/password-reset-done-image.png' %}" class="card-img-top" alt="Tribe password reset image">
                <div class="card-body">
                    <h1 class="card-title logo-text">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <h5 class="card-text">{% blocktrans %}We have sent you an e-mail.<br>Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h5>
                    <h4>
                        <a href="{% url 'home' %}" class="sign-up-button btn btn-lg text-uppercase py-2">Back To Homepage</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
