{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block extra_title %}- Password Reset{% endblock %}

{% block extra_css %}
<style>
    html,
    body {
      background-color: var(--main-purple);
    }
  </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
            <div class="card border-0">
                <img src="{% static 'img/forgot-password-image.png' %}" class="card-img-top" alt="Forgot password image">
                <div class="card-body">
                    <h1 class="card-title logo-text">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <h5 class="card-text">{% trans "Forgotten your password?<br>Enter your e-mail below and we'll sort you out!" %}</h5>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="sign-up-button btn btn-lg text-uppercase py-2" type="submit">{% trans "Reset My Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
