{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
    body {
        background-color: var(--main-purple);
    }
</style>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
            <div class="card border-0">
                <img src="{% static 'img/landing-image.png' %}" class="card-img-top" alt="Tribe homepage image">
                <div class="card-body">
                    <h1 class="card-title logo-text">Welcome to Tribe</h1>
                    <h5 class="card-text">Find your Tribe, connect for life.</h5>
                    <h4>
                        <a href="{% url 'account_signup' %}" class="sign-up-button btn btn-lg text-uppercase py-2">Sign Up</a>
                        <a href="{% url 'account_login' %}" class="log-in-button btn btn-lg text-uppercase py-2">Log In</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}