{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        {% if flagged_post_list %}
        <div class="col-md-5 col-sm-12">
            <div class="border-bottom mt-5">
                <h5>Flagged Posts</h5>
            </div>
            {% for post in flagged_post_list %}
            <div class="mt-3 mb-3 border-bottom">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    {% if "placeholder" in post.author.profile.profile_pic.url %}
                    <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="40" width="40">
                    {% else %}
                    <img src="{{ post.author.profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="40" width="40">
                    {% endif %}
                </a>
                <p>
                    <a class="text-primary profile-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a>
                    on {{ post.posted_on }}
                    {% if request.user == post.author or request.user.is_superuser %}
                    <a href="{% url 'post-delete' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </p>
                <div class="position-relative">
                    <p class="text-break">{{ post.content }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <div class="d-flex flex-row">
                    <a class="comment-button" href="{% url 'post-detail' post.pk %}"><i class="fa-regular fa-comment"></i></a>
                    <form method="POST" action="{% url 'post-like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="like-button" type="submit">
                            {% if request.user in post.likes.all %}
                            <i class="fa-solid fa-thumbs-up"></i>
                            {% else %}
                            <i class="fa-regular fa-thumbs-up"></i>
                            {% endif %}
                            <span>{{ post.likes.all.count }}</span>
                        </button>
                    </form>
                    <form method="POST" action="{% url 'post-report' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button aria-label="report post" class="like-button" type="submit">
                            <i class="fa-regular fa-flag"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}

            {% if flagged_post_list.has_other_pages %}
            <nav aria-label="Post navigation">
                <ul class="pagination justify-content-center">
                    {% if flagged_post_list.has_previous %}
                    <li class="page-item"><a href="?page={{ flagged_post_list.previous_page_number }}" class="btn btn-outline-primary">Newer Posts</a></li>
                    {% endif %}

                    {% if flagged_post_list.has_next %}
                    <li class="page-item"><a href="?page={{ flagged_post_list.next_page_number }}" class="btn btn-outline-primary">Older Posts</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
        {% else %}
        <div class="col-md-5 col-sm-12">
            <div class="border-bottom mt-5">
                <h5>No Flagged Posts - Horaaay!</h5>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}