{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'feed' %}" class="btn back-btn">Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'profile' post.author.profile.pk %}">
                {% if "placeholder" in post.author.profile.profile_pic.url %}
                <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% else %}
                <img src="{{ post.author.profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% endif %}
            </a>
            <p>
                <a class="text-primary profile-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> on {{ post.posted_on }}
                {% if request.user == post.author or request.user.is_superuser %}
                <a href="{% url 'post-delete' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
            <p class="text-break">{{ post.content }}</p>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span>{{ post.likes.all.count }}</span>
                    </button>
                </form>
                <form method="POST" action="{% url 'post-report' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        <i class="fa-regular fa-flag"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Send</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'profile' post.author.profile.pk %}">
                {% if "placeholder" in comment.author.profile.profile_pic.url %}
                <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="30" width="30" />
                {% else %}
                <img src="{{ comment.author.profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="30" width="30" />
                {% endif %}
            </a>
            <p>
                <a class="text-primary profile-link" href="{% url 'profile' comment.author.profile.pk %}">@{{ comment.author }}</a> on {{ comment.posted_on }}
                {% if request.user == comment.author %}
                <a href="{% url 'comment-edit' post.pk comment.pk %}" class="edit-icon"><i class="fa-solid fa-edit"></i></a>
                {% endif %}
                {% if request.user == comment.author or request.user == post.author or request.user.is_superuser %}
                <a href="{% url 'comment-delete' post.pk comment.pk %}" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
            <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="like-button" type="submit">
                    {% if request.user in comment.likes.all %}
                    <i class="fa-solid fa-thumbs-up"></i>
                    {% else %}
                    <i class="fa-regular fa-thumbs-up"></i>
                    {% endif %}
                    <span>{{ comment.likes.all.count }}</span>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}

    {% if comments.has_other_pages %}
    <nav aria-label="Post navigation">
        <ul class="pagination justify-content-center">
            {% if comments.has_previous %}
            <li class="page-item"><a href="?page={{ comments.previous_page_number }}" class="btn btn-outline-primary">Go Back</a></li>
            {% endif %}

            {% if comments.has_next %}
            <li class="page-item"><a href="?page={{ comments.next_page_number }}" class="btn btn-outline-primary">See More</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}