@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-purple: #5122B4;
    --light-purple: #bf87f7;
    --accent-red: #d9534f;
    --dark-grey: #333333;
    --off-white: #f5f5f5;
}

html,
body {
  height: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: var(--off-white);
}

body {
    padding-top: 70px;
}

body > footer {
    position: sticky;
    top: 100vh;
}

a {
    color: var(--main-purple);
    text-decoration: none;
}

a:hover {
    color: var(--main-purple);
    text-decoration: none;
}

.logo-text {
    font-family: 'Fredoka One', cursive;
}

.back-btn {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

.back-btn:hover {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

.purple-btn {
    background-color: var(--main-purple);
    color: var(--off-white);
    margin: 2px;
}

.purple-btn:hover {
    background-color: var(--main-purple);
    color: var(--off-white);
}

/* Landing page */
.sign-up-button {
    background-color: var(--main-purple);
    color: var(--off-white);
    border-radius: 8px;
}

.log-in-button {
    border-color: var(--main-purple);
    color: var(--main-purple);
    border-radius: 8px;
}

.sign-up-button:hover {
    background-color: var(--main-purple);
    color: var(--off-white);
}

.log-in-button:hover {
    border-color: var(--main-purple);
    color: var(--main-purple);
}

/* Nav */
.navbar {
    background-color: var(--main-purple);
}

.nav-link {
    color: var(--off-white) !important;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: var(--off-white);
}

.search-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--off-white);
}

/* Posts */
.delete-icon {
    color: var(--accent-red);
    position: relative;
}

.delete-icon:hover {
    color: var(--accent-red);
}

.profile-link {
	text-decoration: none;
    color: var(--main-purple) !important;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.feed-switch {
    color: var(--main-purple) !important;
}

.feed-switch-active {
    background-color: var(--main-purple) !important;
}

/* Likes */
.like-button,
.comment-button {
    color: var(--main-purple);
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.comment-button > a {
    color: var(--main-purple);
}

/* Comments */
.edit-icon {
    color: var(--main-purple);
}

.edit-icon:hover {
    color: var(--main-purple);
}

/* Profile */
.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.card-img-top{
    max-height:300px;
    object-fit: cover;
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-20 {
    margin-top: 20px
}

.m-b-0 {
    margin-bottom: 0px
}

/* Notifications */
.notification-badge {
    font-size: xx-small;
}

.dropdown-content {
    position: absolute;
    background-color: var(--off-white);
    min-width: 350px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a {
    color: var(--dark-grey);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content:hover {
    color: #ddd;
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover {
    color: var(--accent-red);
    transition: 0.3s;
    cursor: pointer;
}

/* Messages */
.message-head {
    position: fixed;
    z-index: 1;
    top: 15px;
    width: 100%;
}

.empty-text {
    color: var(--dark-grey);
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
    background-color: var(--main-purple);
    color: var(--off-white);
    border-radius: 20px;
    padding: 10px 25px;
    float: left;
    max-width: 40%;
}

.received-message {
    background-color: var(--dark-grey);
    color: var(--off-white);
    border-radius: 20px;
    padding: 10px 25px;
    max-width: 40%;
    float: right;
    text-align: end;
}

.message-sent-time {
    float: left;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 2px;
}

.message-received-time {
    float: right;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 2px;
}

.message-text {
    margin-bottom: 0;
}

/* Footer */
footer {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

footer .btn {
    color: var(--off-white);
}

footer .btn:hover {
    transform: scale(1.5);
    color: var(--light-purple);
}

footer a {
    color: var(--light-purple);
    text-decoration: none;
}

footer a:hover {
    color: var(--light-purple);
    text-decoration: underline;
}

/* Media Queries */
/* Messages */
@media only screen and (max-width: 768px) {
    .sent-message,
    .received-message {
        max-width: 50%;
    }
  }

@media only screen and (max-width: 425px) {
    .sent-message,
    .received-message {
        max-width: 85%;
    }
  }