{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'feed' %}" class="btn btn-light">Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <!-- Column -->
            <div class="card">
                {% if "placeholder" in profile.bg_pic.url %}
                <img class="card-img-top" src="{% static 'img/default-bg-pic.png' %}" alt="background image" />
                {% else %}
                <img class="card-img-top" src="{{ profile.bg_pic.url }}" alt="background image" />
                {% endif %}
                <div class="card-body little-profile text-center">
                    <div class="pro-img">
                        {% if "placeholder" in profile.profile_pic.url %}
                        <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" />
                        {% else %}
                        <img src="{{ profile.profile_pic.url }}" alt="profile image" />
                        {% endif %}
                    </div>
                    {% if profile.display_name %}
                    <h4>{{ profile.display_name }}</h4>
                    {% endif %}
                    <h5>
                        @{{ profile.user }}
                        {% if user == request.user %}
                        <a href="{% url 'profile-edit' profile.pk %}"><i class="fa-solid fa-pen-to-square edit-icon"></i></a>
                        {% endif %}
                    </h5>
                    <p>{{ profile.bio }}</p>
                    {% if user != request.user %}
                    {% if is_following %}
                    <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-danger m-t-10 btn-md btn-rounded" type="submit">Unfollow</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'add-follower' profile.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-success m-t-10 btn-md btn-rounded" type="submit">Follow</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    <div class="row text-center m-t-20">
                        <div class="col m-t-20">
                            <h3 class="m-b-0 font-light">{{ post_count }}</h3><small>Posts</small>
                        </div>
                        <div class="col m-t-20">
                            <h3 class="m-b-0 font-light">
                                {% if follower_count > 0 %}
                                <a class="profile-link" href="{% url 'followers-list' profile.pk %}">{{ follower_count }} </a>
                                {% else %}
                                {{ follower_count }}
                                {% endif %}
                            </h3>
                            <small>Followers</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if request.user == user %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Add a post</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Send</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a href="{% url 'profile' post.author.profile.pk %}">
                {% if "placeholder" in post.author.profile.profile_pic.url %}
                <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% else %}
                <img src="{{ post.author.profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% endif %}
            </a>
            <p>
                <a class="text-primary profile-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> on {{ post.posted_on }}
                {% if request.user == post.author or request.user.is_superuser %}
                <a href="{% url 'post-delete' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
            <div class="position-relative">
                <p class="text-break">{{ post.content }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <button class="comment-button">
                    <a href="{% url 'post-detail' post.pk %}"><i class="fa-regular fa-comment"></i></a>
                </button>
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span>{{ post.likes.all.count }}</span>
                    </button>
                </form>
                <form method="POST" action="{% url 'post-report' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        <i class="fa-regular fa-flag"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if posts.has_other_pages %}
    <nav aria-label="Post navigation">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-primary">Newer Posts</a></li>
            {% endif %}

            {% if posts.has_next %}
            <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="btn btn-outline-primary">Older Posts</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}