{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}- Edit Profile{% endblock %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'profile' object.pk %}" class="btn back-btn">Back To Profile</a>
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Edit your profile</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn purple-btn mt-3">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}