{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'feed' %}" class="btn btn-dark">Back To Feed</a>
        </div>
    </div>
    {% if profile_list %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 border-bottom mt-5">
            <h5>User results for: {{ request.GET.query }}</h5>
        </div>
    </div>
    {% for profile in profile_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 border-bottom position-relative">
            <a href="{% url 'profile' profile.pk %}">
                {% if "placeholder" in profile.profile_pic.url %}
                <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="50" width="50" />
                {% else %}
                <img src="{{ profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="50" width="50" />
                {% endif %}
            </a>
            <h5><a href="{% url 'profile' profile.pk %}" class="text-primary profile-link">
                    @{{ profile.user }}
                </a></h5>
            <h6>Followers: {{ profile.followers.all.count }}</h6>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 border-bottom mt-5">
            <h5>No user results for: {{ request.GET.query }}</h5>
        </div>
    </div>
    {% endif %}
</div>

<div class="container">
    {% if post_list %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 border-bottom mt-5">
            <h5>Post results for: {{ request.GET.query }}</h5>
        </div>
    </div>
    {% for post in post_list %}
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-md-8 col-sm-12 border-bottom">
            <a href="{% url 'profile' post.author.profile.pk %}">
                {% if "placeholder" in post.author.profile.profile_pic.url %}
                <img src="{% static 'img/default-profile-pic.png' %}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% else %}
                <img src="{{ post.author.profile.profile_pic.url }}" alt="profile image" class="rounded-circle post-img" height="40" width="40" />
                {% endif %}
            </a>
            <p>
                <a class="text-primary profile-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> on {{ post.posted_on }}
                {% if request.user == post.author or request.user.is_superuser %}
                <a href="{% url 'post-delete' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
            <div class="position-relative">
                <p class="text-break">{{ post.content }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 border-bottom mt-5">
            <h5>No post results for: {{ request.GET.query }}</h5>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}